/*This css file experiments with keyframes*/
.box {
    background-color: #bada55;
    width: 150px;
    height: 0px;
    margin: 25px;
    animation-name: growing;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes growing{
    from{
        height: 0px;
    }
    to{
        height: 150px;
    }
}